* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    min-height: 100vh;
    background-color: #06151D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    background-color: #082029;
    color: white;
    text-align: center;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-left: 10%;
    padding-right: 10%;  
    
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
}

.header-div {
    display: flex;
    align-items: center;
}

.header-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.header-img:hover {
    cursor: pointer;
}
footer {
    background-color: #082029;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
}
main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 1920px;
    min-height: 80vh;
}

input {
    width: 20%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
}

.card {
    color: white;
    border-radius: 19px;
    margin: 1rem;
    width: 180px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    box-shadow: none !important;
}

.card:hover {
    box-shadow: 0 0 10px 5px rgba(223, 114, 13, 0.8) !important;
    cursor: pointer;
    transition: all 0.3s;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    background-color: #082029;
    flex-grow: 1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 30px;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    background-color: #082029;
    flex-grow: 1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 20%;
    padding-right: 20%;
    height: 30px;
}

.card-img {
    width: 125px;
    height: 125px;
    margin: 0;
}

.elements-icon {
    height: 60%;
}

.icon {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-box-shadow {
    box-shadow: none !important;
}

.no-scroll {
    overflow: hidden;
}

.buttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    background-color: #06151D;
}

.morebutton {
    background-color: #df720d;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 0.7rem;
    width: 60px;
}

.morebutton:hover {
    background-color: #df720d;
    color: white;
    border: none;
    box-shadow: #df720d 0px 0px 10px 5px;
    cursor: pointer;
    transition: all 0.2s;
}
